<p appHoverHighlight>
  Hover over this text to see the custom attribute directive in action!
</p>
<button (click)="showContent = !showContent">
  Toggle Content
</button>

<div *appShowIf="showContent">
  This content is conditionally rendered by the custom structural directive!
</div>

<div *appRepeat="3">This will be repeated 3 times.</div>

<p *appDelayRender="2000">This text will appear after 2 seconds.</p>

<ng-container *appRepeat="5; let i = $implicit">
  <p>Repeated Item #{{ i + 1 }} - Index: {{ i }}</p>
</ng-container>
